#include "pinctrl.dtsi"
#include "audio.dtsi"  
#include "vince-qrd.dtsi" 
#include "fingerprint.dtsi" 
#include "power.dtsi" 
#include "touchscreen.dtsi" 
#include "camera.dtsi" 
#include "battery.dtsi"
#include "regulator.dtsi"
